#content {
	border: 1px solid black;
	border-radius:5px;
	min-height: 95%;
    min-width: 95%;
}
#operator{
	margin-bottom:20px;
}
#displayInfo {
	vertical-align: top;
	display:inline-block;
}
#display1 {
	vertical-align: top;
	margin: 0px 30px;
	display:inline-block;
}
#subtotal {
	text-align:right;
	display: inline-block;
	
}
#price{
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='200px'><text x='150' y='13' fill='black' font-size='12' font-family='arial'>\20AC</text></svg>");
}

.euro:after {
	content: ' \20AC';
}

.kg:after {
	content: ' kg';
}
#products {
	display:inline-block;
    margin: 0px 50px;
}
#products div:not(.button):not(#selprod) {
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
}
#products span {
	display: block;
}
#weight {
	font-size:150px;
}
#message{
	color:red;
}
.category {
	display: inline-block;
    margin: 3px;
}
table {
	text-align: right;
	border-spacing: 10px;
}
#count {
	
	display:inline-block;
}
#history {
	    margin: 10px;
	display: inline-block;
}