#content {
	border: 1px solid black;
	border-radius:5px;
	min-height: 95%;
    min-width: 95%;
}
#products {
	display:inline-block;
	max-width: 40%;
}
#products div:not(.button):not(#selprod) {
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
}
#weight {
	font-size:150px;
}
#message{
	color:red;
}
.category {
	display: inline-block;
    margin: 3px;
}